.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  background-color: #f5f5f5;
  /* height: 100dvh; */
}

.giveHeight{
  height: 100vh;
}

.testBox {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* width: 80%; */
  /* max-width: 600px; */
  /* text-align: center; */
}

.testBox button, .results button {
  width: 120px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.testBox button:hover, .results button:hover {
  background-color: black;
}

.buttonBox {
  display: flex;
  justify-content: center;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  background-color: #f5f5f5;
}

.results {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.results h1 {
  margin: 10px 0;
  color: #333;
}

.results span{
  color: #555;
  font-weight: lighter;
}

.results button{
  margin-left: auto;
  margin-right: auto;
}

.microphoneStatus {
  position: absolute;
  top: 5px;
  left: 5px;
  margin-bottom: 20px;
  /* color: #555; */
}

.micOn {
  color: green;
}
.micOff {
  color: red;
}
